<div class="swade chat-card" data-actor-id="{{actor._id}}">
  <header class="card-header flexrow"></header>
  <div class="card-content">
    <p>{{localize 'SWADE.ConvictionExtendPrompt'}}</p>
  </div>
  <div class="card-buttons">
    <button data-action="yes" type="button">{{localize 'SWADE.Yes'}}</button>
    <button data-action="no" type="button">{{localize 'SWADE.No'}}</button>
  </div>
</div>
