{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
  class="combat-tables"
}}
  {{>
  "systems/animabf-guote/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.combatTables.title")
    addRowButtonData="add-combat-table"
  }}
  {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
    class="combat-tables"
  }}
    {{#each system.combat.combatTables}}
      <div data-item-id='{{this._id}}' class='combat-table-row'>
        <input
          name='system.dynamic.combatTables.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}