{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
  class="weapons"
}}
  {{>
  "systems/animabf-guote/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.weapons.title")
    addRowButtonData="add-weapon"
  }}
  {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
    class="weapons"
  }}
    {{#each system.combat.weapons}}
      <div data-item-id='{{this._id}}' class='weapon-row'>
        {{#> "systems/animabf-guote/templates/common/ui/group.hbs"
          class="weapon"
          contractible=true
          contractibleItemId=this._id
        }}
          {{#> "systems/animabf-guote/templates/common/ui/group-header.hbs"}}
            <div class='weapon-header'>
              {{>
              "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
                class="name"
                hideTitle=true
                inputType="text"
                inputName=(concat "dynamic.weapons." this._id ".name")
                inputValue=this.name
              }}
            </div>
          {{/"systems/animabf-guote/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
            class="weapon"
          }}
            {{#if (or (is 'eq' this.isRanged.value false) (is 'eq' this.shotType.value 'throw'))}}
              {{>
              'systems/animabf-guote/templates/common/ui/custom-select-choices.hbs'
                class="critic-secondary"
                isVertical=true
                disabled=true
                choices=xRoot.config.iterables.combat.weapon.criticTypesWithNone
                title=(localize "anima.ui.combat.weapons.critic.secondary.title")
                inputName=(concat "dynamic.weapons." this._id ".system.critic.secondary.value")
                inputValue=this.system.critic.secondary.value
              }}
            {{/if}}
            {{> 'systems/animabf-guote/templates/common/domain/select-quality.hbs'
              class="quality"
              isVertical=true
              title=(localize "anima.ui.combat.weapons.quality.title")
              inputName=(concat "dynamic.weapons." this._id ".system.quality.value")
              inputValue=this.system.quality.value
            }}
            {{>
            "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
              class="integrity"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.integrity.final.title")
              inputName=(concat "dynamic.weapons." this._id ".system.integrity.final.value")
              inputValue=this.system.integrity.final.value
            }}
            {{>
            "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
              class="breaking"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.breaking.final.title")
              inputName=(concat "dynamic.weapons." this._id ".system.breaking.final.value")
              inputValue=this.system.breaking.final.value
            }}
            {{>
            "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
              class="presence"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.presence.final.title")
              inputName=(concat "dynamic.weapons." this._id ".system.presence.final.value")
              inputValue=this.system.presence.final.value
            }}
            {{#if (is 'eq' this.isRanged.value true)}}
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="range"
                disabled=true
                title=(localize "anima.ui.combat.weapons.range.final.title")
                inputName=(concat "dynamic.weapons." this._id ".system.range.final.value")
                inputValue=this.system.range.final.value
              }}
              {{#if (is 'eq' this.shotType.value 'shot')}}
                {{>
                'systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs'
                  class="reload"
                  disabled=true
                  title=(localize "anima.ui.combat.weapons.reload.final.title")
                  inputName=(concat "dynamic.weapons." this._id ".system.reload.final.value")
                  inputValue=this.system.reload.final.value
                }}
                {{>
                'systems/animabf-guote/templates/common/domain/weapon/select-ammo.hbs'
                  class="ammo"
                  isVertical=true
                  title=(localize "anima.ui.combat.weapons.ammo.title")
                  ammo=xRoot.system.combat.ammo
                  inputName=(concat "dynamic.weapons." this._id ".system.ammoId")
                  inputValue=this.system.ammoId
                }}
              {{/if}}
            {{/if}}
            {{> 'systems/animabf-guote/templates/common/domain/weapon/knowledge-type.hbs'
              class="knowledge-type"
              title=(localize "anima.ui.combat.weapons.knowledgeType.title")
              inputName=(concat "dynamic.weapons." this._id ".system.knowledgeType.value")
              inputValue=this.system.knowledgeType.value
            }}
          {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf-guote/templates/common/ui/group-footer.hbs"}}
            <div class='weapon-footer'>
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="equipped"
                title=(localize "anima.ui.combat.weapons.equipped.title")
                inputType="checkbox"
                inputName=(concat "dynamic.weapons." this._id ".system.equipped.value")
                inputValue=(is 'eq' this.equipped.value true)
              }}
              {{>
              'systems/animabf-guote/templates/common/ui/custom-select-choices.hbs'
                class="critic-primary"
                isVertical=true
                disabled=true
                title=(localize "anima.ui.combat.weapons.critic.primary.title")
                choices=xRoot.config.iterables.combat.weapon.criticTypes
                inputName=(concat "dynamic.weapons." this._id ".system.critic.primary.value")
                inputValue=this.system.critic.primary.value
              }}
              {{#if (is 'eq' this.manageabilityType.value 'one_or_two_hands')}}
                {{>
                "systems/animabf-guote/templates/common/domain/weapon/one-or-two-handed.hbs"
                  class="one-or-two-handed"
                  title=(localize "anima.ui.combat.weapons.oneOrTwoHanded.title")
                  inputName=(concat "dynamic.weapons." this._id ".system.oneOrTwoHanded.value")
                  inputValue=this.system.oneOrTwoHanded.value
                }}
              {{/if}}
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="attack"
                title=(localize "anima.ui.combat.weapons.attack.title")
                rollableMessage=(concat (localize "anima.ui.combat.weapons.attack.roll.message") this.name)
                inputName=(concat "dynamic.weapons." this._id ".system.attack.special.value")
                inputValue=this.system.attack.special.value
                rollable=true
                rollSecondaryInput=true
                hasSecondaryInput=true
                addTooltips=true
                disableSecondaryInput=true
                secondaryInputValue=this.system.attack.final.value
              }}
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="block"
                title=(localize "anima.ui.combat.weapons.block.title")
                rollableMessage=(concat (localize "anima.ui.combat.weapons.block.roll.message") this.name)
                inputName=(concat "dynamic.weapons." this._id ".system.block.special.value")
                inputValue=this.system.block.special.value
                rollable=true
                rollSecondaryInput=true
                hasSecondaryInput=true
                addTooltips=true
                disableSecondaryInput=true
                secondaryInputValue=this.system.block.final.value
              }}
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="damage"
                disabled=true
                title=(localize "anima.ui.combat.weapons.damage.final.title")
                inputName=(concat "dynamic.weapons." this._id ".system.damage.final.value")
                inputValue=this.system.damage.final.value
              }}
              {{>
              "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
                class="initiative"
                rollable=true
                disabled=true
                title=(localize "anima.ui.combat.weapons.initiative.final.title")
                inputName=(concat "dynamic.weapons." this._id ".system.initiative.final.value")
                inputValue=this.system.initiative.final.value
              }}
            </div>
          {{/"systems/animabf-guote/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf-guote/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}