<div class="abilities-tab">
  <div class="tab-intro">
    <p class="text-muted">Secondary characteristics and skills. Click on values to roll.</p>
  </div>

  {{> "systems/animabfguote13/templates/actor/parts/secondaries/secondaries.hbs"}}
</div>
