<div class="domine-tab">
  <div class="tab-intro">
    <p class="text-muted">Martial arts, Ki accumulation, and techniques.</p>
  </div>

  {{> "systems/animabfguote13/templates/actor/parts/domine/domine.hbs"}}
</div>
