<div class="magic-tab">
  <div class="tab-intro">
    <p class="text-muted">Mystic abilities, spells, and magic paths.</p>
  </div>

  {{> "systems/animabfguote13/templates/actor/parts/mystic/mystic.hbs"}}
</div>
