<footer>
	<div class='footnote'>
		<label>{{localize 'DataInspector.DataEntries'}}:</label>
		<span class='value'>{{count}}</span>
	</div>
	<div class='footnote'>
		<label>{{localize 'DataInspector.MaxDepth'}}:</label>
		<span class='value'>{{depth}}</span>
	</div>
</footer>
