{{!-- Quick Actions: Rest, Half-Rest --}}
<div class="v2-header__quick-actions">
  <button type="button" class="v2-quick-action" data-action="rest" title="{{localize 'anima.actions.rest'}}">
    <i class="fas fa-bed"></i>
    {{localize "anima.actions.rest.short"}}
  </button>
  <button type="button" class="v2-quick-action" data-action="half-rest" title="{{localize 'anima.actions.halfRest'}}">
    <i class="fas fa-moon"></i>
    {{localize "anima.actions.halfRest.short"}}
  </button>
</div>
