.simple-calendar.dark {
  --font-family: Roboto, sans-serif;
  --heading-font-family: Roboto, sans-serif;
  --input-bg-color: #495057;
  --input-border-color: #adb5bd;
  --input-color: #ffffff;
  --link-color: #e1b438;
  --link-hover-color: #d59c24;
  --entity-link-bg-color: #2e638c;
  --entity-link-border-color: #598bad;
  --entity-link-icon-color: #e1b438;
  --entity-link-icon-hover-color: #d59c24;
  --heading-border-color: #e1b438;
  --about-heading-border-color: #3c769e;
  --app-header-bg-color: #162b39;
  --app-header-bg-image: unset;
  --app-header-color: #ffffff;
  --app-header-border: 0;
  --app-header-border-image: unset;
  --app-header-height: 1.875rem;
  --app-bg-color: #0d1a22;
  --app-bg-image: unset;
  --app-border: 0;
  --app-border-image: unset;
  --app-color: #ffffff;
  --comapct-header-control-grey: #adb5bd;
  --comapct-header-control-secondary: #e1b438;
  --comapct-header-control-tertiary: #a19ecf;
  --comapct-header-control-save: #2e8d72;
  --section-bg-color: #1a3344;
  --section-border-color: #9ebbcf;
  --section-color: #ffffff;
  --side-drawer-color: #ffffff;
  --side-drawer-bg-color: #162b39;
  --side-drawer-bg-image: unset;
  --side-drawer-border-color: #0d1a22;
  --side-drawer-border-image: unset;
  --scrollbar-background-color: #3c769e;
  --scrollbar-border-color: #366e96;
  --scrollbar-track-bg-color: transparent;
  --scrollbar-track-border: unset;
  --scrollbar-button-height: 0;
  --scrollbar-button-bg-color: unset;
  --scrollbar-button-border: unset;
  --cal-weekend-bg-color: rgba(0, 0, 0, 0.25);
  --cal-day-border-color: #1a4670;
  --cal-day-hover-color: #495057;
  --cal-day-current-bg-color: #275982;
  --cal-day-current-box-shadow-color: #9ebbcf;
  --cal-day-current-hover-bg-color: #3c769e;
  --cal-day-selected-bg-color: #278368;
  --cal-day-selected-box-shadow-color: #9ecfc2;
  --cal-day-selected-hover-bg-color: #3c9f85;
  --cal-note-indicator-bg-color: #e1b438;
  --cal-note-reminder-indicator-bg-color: #7b77bc;
  --cal-note-indicator-color: #2b292a;
  --cal-moon-group-bg-color: #162b39;
  --cal-moon-group-border-color: #366e96;
  --cal-moon-group-box-shadow-color: rgba(122, 122, 122, 0.7098039216);
  --cal-moon-text-shadow: rgba(0, 0, 0, 0.5);
  --cal-list-color: #ffffff;
  --cal-list-active-border-color: #459fff;
  --cal-list-active-bg-color: #275982;
  --cal-list-visible-bg-color: #3d3697;
  --cal-list-bg-hover-color: #5f59ad;
  --clock-started-color: #59ad97;
  --clock-stopped-color: #e65f55;
  --clock-paused-color: #e6bf56;
  --context-menu-color: #ffffff;
  --context-menu-border-color: #e1b438;
  --context-menu-bg-color: rgba(0, 0, 0, 0.85);
  --context-menu-action-hover-color: #459fff;
  --context-menu-divider-color: #6c757d;
  --config-menu-heading-color: #459fff;
  --config-menu-item-border-color: #495057;
  --config-menu-item-color: #e1b438;
  --config-menu-item-hover-color: #2b292a;
  --config-menu-item-hover-bg-color: #e1b438;
  --config-menu-cal-settings-bg-color: #162b39;
  --config-menu-cal-selector-bg-color: #0d1a22;
  --config-menu-cal-selector-hover-bg-color: #1a3344;
  --config-menu-cal-selector-color: #ffffff;
  --config-menu-cal-selector-hover-color: #ffffff;
  --btn-bg-image: unset;
  --btn-border: 1px solid;
  --btn-border-image: unset;
  --btn-grey-border-color: #6c757d;
  --btn-grey-bg-color: #6c757d;
  --btn-grey-color: #ffffff;
  --btn-grey-bg-hover-color: #adb5bd;
  --btn-grey-disabled-bg-color: #dee2e6;
  --btn-primary-border-color: #275982;
  --btn-primary-bg-color: #275982;
  --btn-primary-color: #ffffff;
  --btn-primary-bg-hover-color: #3c769e;
  --btn-primary-disabled-bg-color: #5c717f;
  --btn-secondary-border-color: #e1b438;
  --btn-secondary-bg-color: #e1b438;
  --btn-secondary-color: #2b292a;
  --btn-secondary-bg-hover-color: #eacb74;
  --btn-secondary-disabled-bg-color: #ab9a6e;
  --btn-tertiary-border-color: #7b77bc;
  --btn-tertiary-bg-color: #7b77bc;
  --btn-tertiary-color: #2b292a;
  --btn-tertiary-bg-hover-color: #a19ecf;
  --btn-tertiary-disabled-bg-color: #5e5c7f;
  --btn-delete-border-color: #cd1e16;
  --btn-delete-bg-color: #cd1e16;
  --btn-delete-color: #ffffff;
  --btn-delete-bg-hover-color: #e14337;
  --btn-delete-disabled-bg-color: #ab726e;
  --btn-save-border-color: #1a7255;
  --btn-save-bg-color: #1a7255;
  --btn-save-color: #ffffff;
  --btn-save-bg-hover-color: #3c9f85;
  --btn-save-disabled-bg-color: #5c7f76;
  --form-group-bg-color: #162b39;
  --form-group-bg-hover-color: #1a3344;
  --form-group-border-color: #9ebbcf;
  --form-group-label-color: #78b9ff;
  --form-group-help-color: #e8eff3;
  --form-group-input-bg-color: #495057;
  --form-group-input-border-color: #adb5bd;
  --form-group-input-color: #ffffff;
  --form-group-help-icon-color: #e1b438;
  --message-color: #ffffff;
  --message-warn-bg-color: #695110;
  --message-warn-border-color: #cd8c17;
  --message-success-bg-color: #1a4439;
  --message-success-border-color: #1a7255;
  --message-info-bg-color: #1a3344;
  --message-info-border-color: #1a4670;
  --message-danger-bg-color: #9d2017;
  --message-danger-border-color: #ae241a;
  --multi-select-option-bg-color: #1a4670;
  --multi-select-option-bg-hover-color: #598bad;
  --multi-select-option-border-color: #6c757d;
  --multi-select-option-color: #ffffff;
  --multi-select-disabled-bg-color: #495057;
  --multi-select-disabled-color: #ced4da;
  --note-cat-color: #ffffff;
  --note-cat-bg-color: #6c757d;
  --note-cat-box-shadow-color: #2b292a;
  --note-cat-secondary-bg-color: #e1b438;
  --note-cat-secondary-color: #2b292a;
  --note-cat-success-bg-color: #1a7255;
  --note-cat-success-color: #ffffff;
  --note-cat-danger-bg-color: #cd1e16;
  --note-cat-danger-color: #ffffff;
  --note-cat-reminder-bg-color: #7b77bc;
  --note-cat-reminder-color: #2b292a;
  --note-list-note-border-color: #9ebbcf;
  --note-list-note-bg-hover-color: #275982;
  --note-list-note-hover-color: #ffffff;
  --note-list-note-dragger-bg-color: #6c757d;
  --note-list-note-dragger-box-shadow-color: #2b292a;
  --note-sheet-page-list-border-color: #78b9ff;
  --note-sheet-page-list-page-hover-bg-color: #275982;
  --pre-cal-color: #afadff;
  --pre-cal-border-color: #5f59ad;
  --pre-cal-border-hover-color: #3d3697;
  --precal-hover-color: #ffffff;
  --progress-bar-bg-color: #495057;
  --progress-bar-border-color: #adb5bd;
  --progress-bar-fill-color: #7b77bc;
  --editor-color: #ffffff;
  --editor-menu-bg-color: #e8eff3;
  --editor-menu-control-bg-color: #a5c6dd;
  --editor-menu-control-bg-hover-color: #c5d6e2;
  --search-box-placeholder-color: #ced4da;
  --search-box-color: #ffffff;
  --time-selector-color: #ffffff;
  --time-selector-input-bg-color: #495057;
  --time-selector-input-border-color: #adb5bd;
  --time-selector-option-bg-even-color: #6c757d;
  --time-selector-option-hover-bg-color: #366e96;
  --toggle-unchecked-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 0.5%29%27/%3e%3c/svg%3e");
  --toggle-checked-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
  --toggle-border-color: #ffffff;
  --toggle-checked-bg-color: #2b91ff;
}
