<div>
    <h3>{{parent.name}}</h3>
    <section>
        <span><strong>{{localize "SWADE.Req"}}:</strong>&nbsp;{{{requirementString}}}</span>
    </section> 
    <section>
        {{{enrichedDescription}}}
    </section>
</div>