{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
class="modifiers"
}}
{{>
"systems/animabf-guote/templates/common/ui/group-header.hbs"
title=(localize "anima.ui.general.modifiers.title")
}}
{{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
class="modifiers"
}}
<div class='first-row'>
  <div class="modGrida">
    <div></div>
    <div class="ma">Físicos</div>
    <div class="mb">Sobrenaturales</div>
    <div class="mc">Bonus</div>
    <div class="md">
      {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="bonusFisico"
      hideTitle=true
      inputName="system.general.modifiers.modFisico.bonus.value"
      inputValue=system.general.modifiers.modFisico.bonus.value
      }}
    </div>
    <div class="me">
      {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="malusSobren"
      hideTitle=true
      inputName="system.general.modifiers.modSobrenatural.bonus.value"
      inputValue=system.general.modifiers.modSobrenatural.bonus.value
      }}
    </div>
    <div class="mf">Malus</div>
    <div class="mg">
      {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="bonusFisico"
      hideTitle=true
      inputName="system.general.modifiers.modFisico.malus.value"
      inputValue=system.general.modifiers.modFisico.malus.value
      }}
    </div>
    <div class="mh">
      {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="malusSobren"
      hideTitle=true
      inputName="system.general.modifiers.modSobrenatural.malus.value"
      inputValue=system.general.modifiers.modSobrenatural.malus.value
      }}
    </div>
    <div class="mfinal">Suma</div>
    <div class="mfinalfis">
      <div style="background-color: #6e2917;">
        {{>
        "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
        title="modFisico"
        hideTitle=true
        disabled=true
        inputName="system.general.modifiers.modFisico.final.value"
        inputValue=system.general.modifiers.modFisico.final.value
        }}
      </div>
    </div>
    <div class="mfinalsob">
      <div style="background-color: #6e2917;">
        {{>
        "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
        title="modSobrenatural"
        hideTitle=true
        disabled=true
        inputName="system.general.modifiers.modSobrenatural.final.value"
        inputValue=system.general.modifiers.modSobrenatural.final.value
        }}
      </div>
    </div>
  </div>
  <div class="modGridb">
    <div>
      {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="General"
      hidePrimaryInput=true
      hasSecondaryInput=true
      disableSecondaryInput=true
      inputName="system.general.modifiers.modFinal.general.base.value"
      inputValue=system.general.modifiers.modFinal.general.base.value
      secondaryInputName="system.general.modifiers.modFinal.general.final.value"
      secondaryInputValue=system.general.modifiers.modFinal.general.final.value
      }}</div>
    <div> {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="Ataque"
      hidePrimaryInput=true
      hasSecondaryInput=true
      disableSecondaryInput=true
      inputName="system.general.modifiers.modFinal.attack.base.value"
      inputValue=system.general.modifiers.modFinal.attack.base.value
      secondaryInputName="system.general.modifiers.modFinal.attack.final.value"
      secondaryInputValue=system.general.modifiers.modFinal.attack.final.value
      }}</div>
    <div> {{>
      "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
      title="Defensa"
      hidePrimaryInput=true
      hasSecondaryInput=true
      disableSecondaryInput=true
      inputName="system.general.modifiers.modFinal.defense.base.value"
      inputValue=system.general.modifiers.modFinal.defense.base.value
      secondaryInputName="system.general.modifiers.modFinal.defense.final.value"
      secondaryInputValue=system.general.modifiers.modFinal.defense.final.value
      }}</div>
  </div>
</div>
{{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}