<section
  class='{{tabs.description.tabCssClass}} description'
  data-group='primary'
  data-tab='description'
>
  <fieldset class='description-container'>
    <legend>{{localize tabs.description.label}}</legend>
    {{formInputSimple
      'system.description'
      enriched=description
      toggled=true
      classes='big-editor'
    }}
  </fieldset>
</section>