<section
  class='{{tabs.description.tabCssClass}}'
  data-tab='description'
  data-group='primary'
>
  {{#if editable}}
    {{formInputSimple
      'system.description'
      document=actor
      documentUUID=actor.uuid
      collaborate=true
      toggled=true
      enriched=enrichedDescription
    }}
  {{else}}
    <div class='enriched-description'>
      {{{enrichedDescription}}}
    </div>
  {{/if}}
</section>