{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
  class="_notes"
}}
  {{>
  "systems/animabf-guote/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.notesSection.title')
    addRowButtonData="add-note"
  }}
  {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
    class="_notes"
  }}
    {{#each system.general.notes}}
      <div data-item-id='{{this._id}}' class='note-row'>
        
      </div>
    {{/each}}
  {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}