<div class="secondaries">
  {{!-- <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/athletics.hbs"}}
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/vigor.hbs"}}
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/perception.hbs"}}
  </div>
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/intellectual.hbs"}}
  </div> 
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/subterfuge.hbs"}}
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/social.hbs"}}
  </div>
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/creative.hbs"}}
  </div>--}}
  
  {{!-- <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/guote-cundarias-1.hbs"}}
  </div>
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/guote-cundarias-2.hbs"}}
  </div>--}}
  <div>
    {{>
      "systems/animabf-guote/templates/actor/parts/secondaries/common/secondary-skill.hbs"
      secondarySkillName="guotecundariasuno"
      secondarySkills=system.secondaries.guotecundariasuno
    }}
  </div>
  <div>
    {{>
      "systems/animabf-guote/templates/actor/parts/secondaries/common/secondary-skill.hbs"
      secondarySkillName="guotecundariasdos"
      secondarySkills=system.secondaries.guotecundariasdos
    }}
  </div>
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/secondary-special-skills.hbs"}}
  </div>  
  
</div>
