<div class="secondaries">
  <div>
    {{>
    "systems/animabf-guote/templates/actor/parts/secondaries/common/secondary-skill.hbs"
    secondarySkillName="guotecundariasuno"
    secondarySkills=system.secondaries.guotecundariasuno
    }}
  </div>
  <div>
    {{>
    "systems/animabf-guote/templates/actor/parts/secondaries/common/secondary-skill.hbs"
    secondarySkillName="guotecundariasdos"
    secondarySkills=system.secondaries.guotecundariasdos
    }}
  </div>
  <div>
    {{> "systems/animabf-guote/templates/actor/parts/secondaries/parts/secondary-special-skills.hbs"}}
  </div>

</div>