{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
  class="summons"
}}
  {{>
  "systems/animabf-guote/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.summon.title")
    addRowButtonData="add-summon"
  }}
  {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
    class="summons"
  }}
    {{#each system.mystic.summons}}
      <div data-item-id='{{this._id}}' class='summon-row'>
        <input
          name='system.dynamic.summons.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}