<div class="main-ca">
  <p><b>Welcome to Cthulhu Architect's</b></p>
  <p><b>Free Modern Maps</b></p>
  <hr />
  <p>Included you will find 16 free unique locations (20 total maps) to use in your modern game!</p>
  <p>If you are using 'Multilevel Tokens' foundry module then your players can move freely in other floors.</p>
  <p>On my Patreon page you can find many more maps which include many variations and in many cases even floor plans. You will also find many tokens/tiles in the paddings of my maps so you can style them according to your needs.</p>
  <p>If you want to get my full collection of 100+ unique locations, you can <br /><a href="https://www.patreon.com/cthulhu_architect">subscribe on my patreon page</a></p>
  <p>You can view a gallery of all my maps on my <a href="https://www.pinterest.com/cthulhu_architect/cthulhu-architect-modern-maps/">Pinterest</a></p>
  <p>Check out my <a href="https://foundryvtt.com/packages/cthulhu-architect-handout-generator-lite">"Handout Generator" foundry module</a> and create fast & easily handouts for your game</p>
  <p>Find out more about my work on <a href="https://cthulhuarchitect.com">my website</a></p>
  <p>Did you find a bug? You can find me on <a href="https://discord.gg/2tgye4fWpZ">my Discord server</a>.</p>
</div>
