{{!-- Mystic Tab - Wrapper for V1 mystic partial with V2 styling --}}
<div class="v2-tab-mystic">
  {{!-- Use the existing V1 mystic template --}}
  {{> "systems/animabf-guote/templates/actor/parts/mystic/mystic.hbs"}}
</div>
