{{!-- Notes Tab - Full enrichable text editor --}}
<div class="v2-tab-notes">
  <div class="v2-card">
    <div class="v2-card__body v2-notes-editor">
      {{editor system.general.notesText.enriched target="system.general.notesText.value" button=true owner=true editable=true}}
    </div>
  </div>
</div>
