{{!-- Psychic Tab - Wrapper for V1 psychic partial with V2 styling --}}
<div class="v2-tab-psychic">
  {{!-- Use the existing V1 psychic template --}}
  {{> "systems/animabf-guote/templates/actor/parts/psychic/psychic.hbs"}}
</div>
