<div class="form-group">
  <label>{{localize "SWADE.BonusDamage"}}</label>
  <span class="form-fields">
    <input type="number" name="system.bonusDamageDice" min="1" max="10" value="{{item.system.bonusDamageDice}}" data-dtype="Number">
    <select name="system.bonusDamageDie" data-dtype="Number">
      {{selectOptions bonusDamageDieSideOptions selected=item.system.bonusDamageDie valueAttr='key' labelAttr='label'}}
    </select>
  </span>
</div>