<p class="notification stable">{{localize 'RTUCards.migration.fromV2.message.success'}}</p>
<p>{{localize 'RTUCards.migration.fromV2.message.hint'}}</p>
<img style="border: none;" src="{{localize 'RTUCards.migration.fromV2.message.shortcutImg'}}">
<p>{{localize 'RTUCards.migration.fromV2.message.readme'}}&nbsp;<a href="https://foundryvtt.com/packages/ready-to-use-cards">README</a></p>
