{{#> "systems/animabf-guote/templates/common/ui/group.hbs"
  class="armor"
}}
  {{>
  "systems/animabf-guote/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.finalArmor.title")
  }}
  {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
    class="armor"
  }}
    <div class='at'>
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="cut"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.cut.title")
        inputName=(concat ".combat.armor.at.cut.value")
        inputValue=system.combat.totalArmor.at.cut.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="impact"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.impact.title")
        inputName=(concat ".combat.armor.at.impact.value")
        inputValue=system.combat.totalArmor.at.impact.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="thrust"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.thrust.title")
        inputName=(concat ".combat.armor.at.thrust.value")
        inputValue=system.combat.totalArmor.at.thrust.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="heat"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.heat.title")
        inputName=(concat ".combat.armor.at.heat.value")
        inputValue=system.combat.totalArmor.at.heat.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="electric"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.electricity.title")
        inputName=(concat ".combat.armor.at.electricity.value")
        inputValue=system.combat.totalArmor.at.electricity.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="cold"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.cold.title")
        inputName=(concat ".combat.armor.at.cold.value")
        inputValue=system.combat.totalArmor.at.cold.value
      }}
      {{>
      "systems/animabf-guote/templates/common/ui/vertical-titled-input.hbs"
        class="energy"
        disabled=true
        title=(localize "anima.ui.combat.armors.at.energy.title")
        inputName=(concat ".combat.armor.at.energy.value")
        inputValue=system.combat.totalArmor.at.energy.value
      }}
    </div>
  {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf-guote/templates/common/ui/group.hbs"}}